<div id="footer">
    <div class="contact">
        <h3> Contact Information </h3>
        <p>Email: <a href="mailto:<%= data.contact.email %>"><%= data.contact.email %></a></p>
        <p>Phone: <a href="tel:<%= data.contact.phone %>"><%= data.contact.phone %></a></p>
        <p>Github: <a href="<%= data.contact.github %>"><%= data.contact.github %></a></p>
    </div>
</div>